In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data\\synthetic_ecommerce_churn_dataset.csv')

In [4]:
data.head()

,customer_id,age,gender,country,avg_order_value,total_orders,last_purchase,is_fraudulent,preferred_category,email_open_rate,customer_since,loyalty_score,churn_risk
0,CUST_8270,30,Female,Brazil,101.08,8,176,1,Beauty,25.6,2024-06-05,50,0.20
1,CUST_1860,53,Female,USA,90.39,10,88,0,Electronics,12.3,2024-02-19,37,0.34
2,CUST_6390,73,Male,Australia,83.28,6,203,0,Sports,NaN,2024-04-16,65,0.05
3,CUST_6191,30,Other,Japan,109.90,9,346,1,Electronics,42.9,2020-07-08,93,0.19
4,CUST_6734,29,Female,Canada,269.38,16,342,0,Fashion,5.3,2025-04-09,79,0.15

In [5]:
data.shape

(5000, 13)

In [6]:
data.columns

Index(['customer_id', 'age', 'gender', 'country', 'avg_order_value',
       'total_orders', 'last_purchase', 'is_fraudulent', 'preferred_category',
       'email_open_rate', 'customer_since', 'loyalty_score', 'churn_risk'],
      dtype='object')

In [8]:
data.isna().any()

customer_id           False
age                   False
gender                False
country               False
avg_order_value        True
total_orders          False
last_purchase         False
is_fraudulent         False
preferred_category    False
email_open_rate        True
customer_since        False
loyalty_score         False
churn_risk            False
dtype: bool

In [16]:
data.isnull().sum()

customer_id             0
age                     0
gender                  0
country                 0
avg_order_value       250
total_orders            0
last_purchase           0
is_fraudulent           0
preferred_category      0
email_open_rate       250
customer_since          0
loyalty_score           0
churn_risk              0
dtype: int64

avg_order_value & email_open_rate have only 5% missing values, so missing values can be imputed

In [19]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")

In [21]:
# numeric columns
num_cols = ["age", "avg_order_value", "total_orders", "last_purchase","is_fraudulent", "email_open_rate", "loyalty_score", "churn_risk"]

num_df = data[num_cols]

In [25]:
# Fit the imputer on the data and transform it
num_df_imputed  = pd.DataFrame(
    imputer.fit_transform(num_df),
    columns=num_cols,
    index=data.index
)

num_df_imputed

,age,avg_order_value,total_orders,last_purchase,is_fraudulent,email_open_rate,loyalty_score,churn_risk
0,30.0,101.08,8.0,176.0,1.0,25.600000,50.0,0.20
1,53.0,90.39,10.0,88.0,0.0,12.300000,37.0,0.34
2,73.0,83.28,6.0,203.0,0.0,50.714842,65.0,0.05
3,30.0,109.90,9.0,346.0,1.0,42.900000,93.0,0.19
4,29.0,269.38,16.0,342.0,0.0,5.300000,79.0,0.15
...,...,...,...,...,...,...,...,...
4995,49.0,132.16,9.0,306.0,0.0,20.900000,13.0,0.33
4996,23.0,47.81,10.0,296.0,0.0,50.714842,66.0,0.22
4997,79.0,224.97,16.0,84.0,0.0,92.900000,56.0,0.23
4998,62.0,220.33,8.0,254.0,0.0,83.800000,47.0,0.09
4999,38.0,75.57,6.0,326.0,0.0,4.100000,77.0,0.49

In [26]:
# Combine imputed numeric columns and non-numeric ones
non_num = data.drop(columns=num_cols)

df_clean = pd.concat([non_num, num_df_imputed], axis=1)

In [27]:
df_clean.head()

,customer_id,gender,country,preferred_category,customer_since,age,avg_order_value,total_orders,last_purchase,is_fraudulent,email_open_rate,loyalty_score,churn_risk
0,CUST_8270,Female,Brazil,Beauty,2024-06-05,30.0,101.08,8.0,176.0,1.0,25.600000,50.0,0.20
1,CUST_1860,Female,USA,Electronics,2024-02-19,53.0,90.39,10.0,88.0,0.0,12.300000,37.0,0.34
2,CUST_6390,Male,Australia,Sports,2024-04-16,73.0,83.28,6.0,203.0,0.0,50.714842,65.0,0.05
3,CUST_6191,Other,Japan,Electronics,2020-07-08,30.0,109.90,9.0,346.0,1.0,42.900000,93.0,0.19
4,CUST_6734,Female,Canada,Fashion,2025-04-09,29.0,269.38,16.0,342.0,0.0,5.300000,79.0,0.15

In [28]:
df_clean.isna().any()

customer_id           False
gender                False
country               False
preferred_category    False
customer_since        False
age                   False
avg_order_value       False
total_orders          False
last_purchase         False
is_fraudulent         False
email_open_rate       False
loyalty_score         False
churn_risk            False
dtype: bool

In [29]:
def even_numbers(n):
    for i in range(0, n + 1):
        if i % 2 == 0:
            yield i

In [32]:
a=even_numbers(10)

In [34]:
next(a)

2